
<div class="d-flex justify-content-center align-items-center dark rounded" style="height: auto;">

  <table class="table col-6 rounded border border-secondary" *ngIf="responseUsers" >
    <thead class="">
      <tr class="bg text-white">
        <th scope="col">ID</th>
        <th scope="col">EMAIL</th>
        <th scope="col">NOME</th>
        <th scope="col">SOBRENOME</th>
        <th scope="col">AVATAR</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let user of responseUsers.data">
        <td>{{user.id}}</td>
        <td>{{user.email}}</td>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.avatar}}</td>
      </tr>

    </tbody>
  </table>

  </div>


  <style>
    .bg{
      background: rgb(36,0,0);
      background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(194,18,30,1) 100%, rgba(0,212,255,1) 100%);
    }
  </style>

