<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-center align-center bg-dark">


  <div class=" d-flex justify-content-center align-center " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-uppercase text-white h4 px-4" routerLink="/home">home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-uppercase text-white h4 px-4" routerLink="/cadastro">cadastro<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-uppercase text-white h4 px-4" routerLink="/users">usuario<span class="sr-only">(current)</span></a>
      </li>
    </ul>

  </div>
</nav>
<div><router-outlet></router-outlet></div>

<style>
  .nav-link:hover{
    transform: scale(1.1);
    transition: transform .3s;
  }
</style>
